.contenedor{
    padding: 0;
    margin: 0;
}
.caja1{
    width: 300px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
    margin: 5px;
}
.caja2{
    width: 300px;
    height: 200px;
    background-color: brown;
    border: 1px solid black;
    margin: 5px;
}
.caja3{
    width: 300px;
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
    margin: 5px;
}
.caja4{
    width: 300px;
    height: 200px;
    background-color: black;
    border: 1px solid black;
    margin: 5px;
}
.caja5{
    width: 300px;
    height: 200px;
    background-color: orange;
    border: 1px solid black;
    margin: 5px;
}
.caja6{
    width: 300px;
    height: 200px;
    background-color: purple;
    border: 1px solid black;
    margin: 5px;
}
.caja7{
    width: 300px;
    height: 200px;
    background-color: pink;
    border: 1px solid black;
    margin: 5px;
}
.caja8{
    width: 300px;
    height: 200px;
    background-color: green;
    border: 1px solid black;
    margin: 5px;
}
.caja9{
    width: 300px;
    height: 200px;
    background-color: gold;
    border: 1px solid black;
    margin: 5px;
}
@media only screen and (max-width: 320px) {

    .contenedor{
        display: grid;
        grid-template-areas: "caja1"
                             "caja2"
                             "caja3" 
    }
    .caja1{
        grid-area:caja1;     
    }
    .caja2{
        grid-area: caja2;
    }
    .caja3{
        grid-area:caja3;
    }
    .caja4{
        visibility: hidden;
    }
    .caja5{
        visibility: hidden;

    }
    .caja6{
        visibility: hidden;
    }
    .caja7{
        visibility: hidden;
    }
    .caja8{
        visibility: hidden;
    }
    .caja9{
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px){
    .contenedor{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;
    }
    .caja7{
        visibility: hidden;
    }
    .caja8{
        visibility: hidden;
    }
    .caja9{
        visibility: hidden;
    }
}
@media only screen and (min-width:769px){
    .contenedor{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;
    }
 
}
